{% extends "recipes/base.html" %}
<!-- -->
{% block content %}

<style>
p {
    font-size: 1rem;
    margin: 10;
    white-space: pre-line;
<!--    height: 10px;-->
<!--    overflow-wrap: break-word;-->
<!--    word-break: break-all;-->
<!--    display: inline-block;-->
<!--  height: auto;-->
<!--    font-size:10px;-->
<!--  width:100%;-->
<!--  position: relative;-->
    inline-size: 150px;
    text-overflow: ellipsis; /* will make [...] at the end */
    width: 100%; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */

}

body{
background-color: powderblue;
}

<!--h1   {-->
<!--color: blue;-->
<!--}-->

<!--p{-->
<!--color: red;-->
<!--}-->

</style>


<h1>Recipes:</h1>
{% for recipe in recipes %}
<div class="card my-4">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
    <p class="card-text">{{ recipe.description }}</p>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ recipe.updated_at|date:"F d, Y" }}
    </h6>
    <a href="{% url 'recipes-detail' recipe.pk %}" class="card-link">View Recipe</a>
  </div>
</div>
{% endfor %}
<!-- -->
{% endblock content %}